:root {
	--cell-size: 150px;

	--color: #81c3fd; /* for hover */
	--color-set: #0274d88c; 
    --ocolor: rgba(71, 148, 23, 0.844);
    --xcolor: rgb(181, 181, 15);

	--l: 10px; 
}
content {
	margin: 0;
    position: fixed;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}
@media(max-width: 675px){
	:root {
		--cell-size: 20vw;
	}
	#turn-counter {
		font-size: 30px !important;
	}
	video {
		display: none;
	}
	body{
		background-color: lightblue;
	}
}
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 2px solid rgba(162, 24, 24, 0.882);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}
/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}
.cell.x, .cell.circle {
	cursor: not-allowed;
}
/* for cross */
.board.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}
/* for cross (set) */
.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--xcolor) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--xcolor) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}
/* for circle */
.board.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for circle (set) */
.cell:not(.x).circle {
	background: radial-gradient(var(--ocolor) 60%, transparent 60%);
}

#turn-counter {
    font-size: 50px;
    color: black;
    display: block;
    position: relative;
    width: fit-content;
    top: 100px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.winning-message p {
    width: 70vw;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;

}
.winning-message button {
	border-radius: 10px;
	font-size: 3rem;
	background-color: white;
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: var(--color-set);
	color: white;
	border-color: white;
}
.winning-message.show {
	display: flex;
}
